doctype html
html(lang="en")
  head
    title #{title}
    meta(name='description' content= description)
    meta(property='fb:app_id' content='136333833611836')
    meta(property='og:title' content= creature)
    meta(property='og:description' content= description)
    meta(property='og:site_name' content=creature+' creep you out the most!')
    meta(property='og:image' content= image)
    meta(property='og:image:width' content='200px')
    meta(property='og:image:height' content='200px')
    meta(property='og:url' content= url)
    link(rel='icon' type='image/png' href='/assets/images/logos/icon.png')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css')
    link(rel='stylesheet' href='/assets/css/theme.css')
    link(rel='stylesheet' href='/assets/css/stripe.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js')