footer.page-footer.orange
    div.container
      div.row
        div.col.m6.s12
          h5.white-text About Golden Cat
          p.grey-text.text-lighten-4.
            We're a funny group of visionaries that feels everyone else in the industry is a little bit too serious.
            Eat a snickers, will you!
        div.col.m6.s12
          h5.white-text Contact Us
          p.grey-text.text-lighten-4.pad-right Any questions/ideas about your orders or our products? Reach out to us at 
            a(href='mailto:revengecrate@gmail.com') revengecrate@gmail.com 
    div.footer-copyright
      div.container
        span.pad-right A
        a(href='#').orange-text.text-lighten-3.pad-right Golden Cat Corporation
        span brand