footer.page-footer.red
    div.container
      div.row
        div.col.m6.s12
          h5.white-text.light About Golden Cat
          p.grey-text.text-lighten-4.light.
            We're a funny group of visionaries that feels everyone else in the industry is a little bit too serious.
            Eat a snickers, will you!
        div.col.m6.s12
          h5.white-text.light Contact Us
          p.grey-text.text-lighten-4.pad-right.light Any questions/ideas about your orders or our products? Reach out to us at 
            a(href='mailto:revengecrate@gmail.com').light revengecrate@gmail.com 
    div.footer-copyright
      div.container
        span.pad-right A
        a(href='#').red-text.text-lighten-3.pad-right Golden Cat Corporation
        span brand