nav.black
  div.nav-wrapper
    ul
      li
        a(href='/').logo Revenge Crate
    ul#nav-mobile.right.hide-hide-on-med-and-down.valign-wrapper
      li
        a(href='/things') Scary Things
include flash.pug
