include partials/header.pug
body.black
  include partials/navbar.pug

  div.section.black
    div.row.container.center
      img(src='/assets/images/static/404.png').responsive-image-med
      p.white-text.
        We couldn't find the page you were looking for. 
      p.white-text.
        Perhaps try going to another part of the site to find what you are looking for.

  include partials/footer.pug