div#stripe.modal
  div.modal-content
    form(action='/purchase' method='post')#payment-form
      div.row.center
        h5 The Victim
        div.group
          label
            span Death By
            input(name='selected_item_name' value='Rats' readonly='readonly')#selected_item_name.field
          label
            span Name
            input(name='shipping_name' placeholder='John Doe' required).field
          label
            span Address
            input(name='shipping_line1' placeholder='123 NW Ocean Dr' required).field
          label
            span Line 2
            input(name='shipping_line2').field
          label
            span City
            input(name='shipping_city' placeholder='Miami' required).field
          label
            span State
            select(name='shipping_state').field.browser-default
              for state in states
                option(value= state.abbreviation)= state.name
          label
            span ZIP
            input(name='shipping_postal_code' placeholder='33139' required).field
          label
            span Country
            select(name='shipping_country').field.browser-default
              option(value='US' selected) United States
      div.row.center
        h5 The Perpetrator
        div.group
          label
            span Email
            input(name='email' placeholder='example@example.com' type='email').field
          label
            span Card
            div#card-element.field
          label
            span Message
            textarea(name='message' data-length='80' placeholder='"The Lannisters send their regards." -Joe').field
          label
            span.terms-20
              input(type='checkbox' required)
            span.terms-70 I agree to the
              a(href='/terms' target='_blank').pad-left Terms of Service
          label
            span.terms-20
              input(type='checkbox' required)
            span.terms-70 I agree to the
              a(href='/privacy' target='_blank').pad-left Privacy Policy
          div.payment-button
            button(type='submit') Pay
              span#selected_item_price.pad-left $10
          div.outcome
            div(role='alert').error
            div.success Success!
      div.row.center
        div.group
      input(type='hidden' name='selected_item_id' value='')#selected_item_id