div#terms-modal.modal
  div.modal-content
    h4 Terms of Agreement
    p.
      By reading this I confirm that the person I am delivering this gift to does not have a life-threatening fear of
      the creatures they will receive or any serious heart conditions that could result in hospitalization or death as
      a reaction to opening the package delivered via mail. We take no responsibility in the emotional or physical
      side-effects of sending something to said recipients, as we are ignorant to the physical and mental conditions
      of the beneficiaries of these packages.
  div.modal-footer
    a(href='#!').modal-action.modal-close.waves-effect.waves-green.btn-flat Close