include ../partials/header.pug
body.black
  include ../partials/navbar.pug
  div.section.black
    div.row.container
      include ../partials/breadcrumb.pug
      div.col.s12.center
        h3.white-text About Us
    div.row.container
      div.col.s12.m6.l4
        div.icon-block
          h2.center
            i.medium.material-icons.red-text new_releases
          h5.center.grey-text.
            What's Revenge Crate?
          p.light.center.grey-text.
            You pay us to deliver a scary surprise to a someone. You're in for a good time whether they
            know it was you or not.
      div.col.s12.m6.l4
        div.icon-block
          h2.center
            i.medium.material-icons.red-text view_module
          h5.center.grey-text.
            What We Send
          p.light.center.grey-text.
            We carry ants, scorpions, snakes, rats, spiders, cockroaches, and other various creatures.
            All of which are not real.
      div.col.s12.m6.l4
        div.icon-block
          h2.center
            i.medium.material-icons.red-text redeem
          h5.center.grey-text.
            Gift or Prank
          p.light.center.grey-text.
            A revenge crate is good for many occasions. You could play an office prank,
            or scare someone for good measure.
      div.col.s12.m6.l4
        div.icon-block
          h2.center
            i.medium.material-icons.red-text payment
          h5.center.grey-text.
            One Low Price
          p.light.center.grey-text.
            What you see is what you get. Shipping is included in our prices, so when we tell you a
            price you pay exactly that.
      div.col.s12.m6.l4
        div.icon-block
          h2.center
            i.medium.material-icons.red-text trending_up
          h5.center.grey-text.
            Trending
          p.light.center.grey-text.
            Funny things are becoming mainstream. Savagery is the new cool. Trolling has taken over
            the world.
      div.col.s12.m6.l4
        div.icon-block
          h2.center
            i.medium.material-icons.red-text stay_current_portrait
          h5.center.grey-text.
            Funny forever
          p.light.center.grey-text
            | Capture the moment someone receives their revenge crate. Share on 
            a(href='https://www.facebook.com/revengecrate/' target='_blank') Facebook 
            | or 
            a(href='https://www.instagram.com/revengecrate/' target='_blank') Instagram 
            | with the tag 
            a #revengecrate
  include ../partials/footer.pug

  script(src='/assets/js/scripts/init-parallax.js')