include ../partials/creature-header.pug
body.black
  include ../partials/navbar.pug

  div.section.black
    div.row.container.center
      img(src= image).responsive-image-med
      p.white-text #{creature} creep you out the most! 
      p.white-text.
        Share this on Facebook!

  include ../partials/footer.pug