include ../partials/creature-header.pug
body.black
  script(src='/assets/js/scripts/fb-sdk.js')
  include ../partials/navbar.pug

  div.section.black
    div.row.container.center
      img(src= image).responsive-image-med
      p.white-text #{creature} creep you out the most!
      div#shareBtn.btn.blue.darken-4 Share on Facebook
    div.row.containter.center
      div.fb-like(data-href="https://www.facebook.com/revengecrate/" data-layout="button_count" data-action="like" data-show-faces="true")

  include ../partials/footer.pug
  script.
    document.getElementById('shareBtn').onclick = function() {
      FB.ui({
        method: 'share',
        display: 'popup',
        href: "#{url}",
        quote: 'You have to try this! Type https://www.revengecrate.com/creature/yourname as a comment and see what you get. I got #{creature}!'
      }, function(response){});
    }