include ../partials/header.pug
body.black
  include ../partials/navbar.pug

  div.section.black
    div.container
      include ../partials/breadcrumb.pug
      h3.white-text.center Frequently Asked Questions (FAQ)
      div.row
        div.col.s12
          each question in questions
            div.card
              div.card-content
                span.card-title 
                  span.strong.pad-right Q.
                  | #{question.question}
                p
                  span.strong.pad-right A.
                  | #{question.answer}

  include ../partials/footer.pug

  script(src='/assets/js/scripts/init-parallax.js')