include ../partials/header.pug
body.black
  include ../partials/navbar.pug
  
  div.parallax-container.overlay
    div.section.no-pad-bot
      div.container
        div.row.center.pad-top-heavy
          h5.header.light.grey-text.text-lighten-3.
            We provide a selection of scary creatures to send to someone for a low price.
        div.row.center
          a(href='/order').btn-large.waves-effect.waves-light.deep-orange.accent-3 Scare Somebody

  div.section.black
    div.row
      iframe(src='https://snapwidget.com/embed/399631' allowTransparency='true' frameborder='0' scrolling='no' style='border: none; overflow: hidden; width: 100%' ).snapwidget-widget

  include ../partials/footer.pug

  script(src='https://snapwidget.com/js/snapwidget.js')
  script(src='/assets/js/scripts/init-parallax.js')