include ../partials/header.pug
body.black
  include ../partials/navbar.pug
  div.parallax-container.overlay
    div.section.no-pad-bot
      div.container
        h1.header.center.deep-orange-text.text-accent-3 Revenge Crate
        div.row.center
          h5.header.light.grey-text.text-lighten-3 Send someone something they won't like.
        div.row.center
          a(href='/revenge').btn-large.waves-effect.waves-light.deep-orange.accent-3 Get Revenge
    div.parallax
      img(src='/assets/images/static/home.jpg')

  div.section.black
    div.row.container
      div.col.s12.m4
        div.icon-block
          h2.center
            i.medium.material-icons.red-text email
          h5.center.grey-text.
            How it works
          p.light.center.grey-text.
            We mail themed patches in either a bi-monthly subscription or as a single purchase for the next month.
      div.col.s12.m4
        div.icon-block
          h2.center
            i.medium.material-icons.red-text dashboard
          h5.center.grey-text.
            A theme for everybody
          p.light.center.grey-text.
            We have various themes that feature cats, birds, skulls, unicorns, Sci-Fi and other entertaing topics.
      div.col.s12.m4
        div.icon-block
          h2.center
            i.medium.material-icons.red-text thumbs_up_down
          h5.center.grey-text.
            It's not just about you
          p.light.center.grey-text.
            In addition to Loot Patch, we offer uniquely comical services like Revenge Patch and Friend Patch.

  footer.page-footer.orange
    div.container
      div.row
        div.col.l6.s12
          h5.white-text About Golden Cat
          p.grey-text.text-lighten-4.
            We're a funny group of visionaries that feels everyone else in the industry is a little bit too serious.
            Eat a snickers, will you!
        div.col.l6.s12
          h5.white-text Contact Us
          p.grey-text.text-lighten-4.pad-right Any questions/ideas about your orders or our products? Reach out to us at 
            a(href='mailto:revengecrate@gmail.com') revengecrate@gmail.com 
    div.footer-copyright
      div.container
        span.pad-right A
        a(href='#').orange-text.text-lighten-3.pad-right Golden Cat Corporation
        span brand

  script(src='/assets/js/scripts/init-parallax.js')