include ../partials/header.pug
body.black
  include ../partials/navbar.pug
  
  div.parallax-container.overlay
    div.section.no-pad-bot
      div.container
        h1.header.center.deep-orange-text.text-accent-3 Revenge Crate
        div.row.center
          h5.header.light.grey-text.text-lighten-3 Send someone something they won't like.
        div.row.center
          a(href='/revenge').btn-large.waves-effect.waves-light.deep-orange.accent-3 Scare Somebody
    div.parallax
      img(src='/assets/images/static/home.jpg')

  div.section.black
    div.row.container
      div.col.s12.m4
      div.col.s12.m4
        div.icon-block
          h2.center
            i.medium.material-icons.red-text new_releases
          h5.center.grey-text.
            What's Revenge Crate?
          p.light.center.grey-text.
            You pay us to deliver a scary surprise to a someone. You're in for a good time whether they
            know it was you or not.
      div.col.s12.m4

  include ../partials/footer.pug

  script(src='/assets/js/scripts/init-parallax.js')